/* GitLab theme for gitbucket */

/* Global */
/*
body.loaded {
	transition:all 0.2s;
}
/**/

@media (min-width: 1200px) {
  div.container {
      width: 1170px;
  }
}
  
@media (max-width: 767px) {
  div.container {
      width: auto;
  }
}
body>hr {
	/*display: none;*/
    opacity: 0;
	margin-top: -10px;
}
a {
  outline: none;
  color: #446e9b;
}

a:hover {
  text-decoration: underline;
  color: #345578;
}

/* header */

form#search {
    margin: 0;
    background: #f5f5f5;
    padding-bottom: 25px;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: -45px;
}

@media (max-width: 767px) {
  form#search {
      margin: 0px -20px -45px;
  }
}

.navbar div.navbar-inner {
	background: #474D57;
	border-bottom: 1px solid #373D47;
    height: 46px;
}


@media (min-width: 1200px) {
  .navbar div.container {
      width: 1170px;
  }
}

.navbar a.brand {
    text-shadow: 0 0 0 #fff;
    color: #fff;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    margin-top: -4px;
    font-weight: 200;
	margin-left: -10px;
}

.navbar a.brand img:first-child {
	/* Color are inverted #575D67 */
    border-left: 1px solid #A8A298;
    border-right: 1px solid #A8A298;
    height: 30px;
    margin: 3px 10px -13px 0;
    padding: 9px 11px;
    /* TODO */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    -webkit-filter	: invert(100%); 
    -moz-filter	: invert(100%); /* Should be suported in v35 */
    -ms-filter	: invert(100%);
    -o-filter 	: invert(100%);
    filter		: invert(100%);
    box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.3) inset;
}
.navbar a.brand a {
	color: #EEE;
}

/*
.navbar a.brand img::after { 
    content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
}
*/
.navbar a.brand img:hover{
	/* Color are inverted #373D47 */
	background-color:#C8C2B8
}

.navbar .nav-collapse.collapse {
	padding-top : 2px;
}

.navbar i, .navbar .caret {
    /* TODO */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert"); 
    -webkit-filter	: invert(100%); 
    -moz-filter	: invert(100%); /* Should be suported in v35 */
    -ms-filter	: invert(100%);
    -o-filter 	: invert(100%);
    filter		: invert(100%);
    opacity: 0.5;
}


.navbar i:hover, .navbar .caret:hover,.navbar .dropdown-toggle:hover .caret,.navbar .dropdown-toggle:hover i {
    opacity: 1;
}

.navbar .header-menu.pull-right .username.menu {
  float: right;
  width: 20px;
  overflow: hidden;
  height: 42px;
  margin-left: -22px;
}
.navbar .header-menu.pull-right input[name=query] {
  margin-right: 20px;
  opacity: 0.5;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAFnRFWHRDcmVhdGlvbiBUaW1lADEwLzMwLzEx+8uc+QAAAKVJREFUGBllwSFKg3EAB9BfMrhgWDQMXTNtNxDDxGDzDC8aJngBb2AzGia6ZvMGIqgwo7K8JMJkS5O/6LcPZL6XHzb0vTrXzl92jMw9mpg6Sk3TmxcdDW0DC91UHFvo5JeGsctU3Hq2niUDo1Sc+dDKknvXqdg2N9RMrDlR9FNz6MvYjQdFMdFLTdeFJ1dOvStm9rPKgaliZjer9Hy6s5X/7NlMvgFslUfFeutXPgAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 28px;
}
body.loaded .navbar .header-menu.pull-right input[name=query] {
	transition:all 0.2s;
}
.navbar .header-menu.pull-right input[name=query]:focus {
  opacity: 1;
  width:330px !important;
  transition:all 0.4s;
}

/* NavBar */

.row-fluid>.span8>ul.nav.nav-tabs,
.row-fluid>.span9>ul.nav.nav-tabs,
body>.container>ul.nav.nav-tabs,
body>.dashboard-nav{
    background: #f5f5f5;
	margin: 0 0 20px 0;
    border-bottom: 1px solid #E9E9E9 !important;
    height : 44px;
}
.row-fluid>.span8>ul.nav.nav-tabs li>a,
.row-fluid>.span9>ul.nav.nav-tabs li>a,
body>.container>ul.nav.nav-tabs li>a,
body>.dashboard-nav a{
    color: #777 !important;
    padding: 12px 12px  !important;
    width: 180px  !important;
    text-align: center;
    border: 0px !important;
    background: none;
    text-shadow: 0 1px 1px white;
    font-weight: bold !important;
    font-size: 13px;
}

.row-fluid>.span8>ul.nav.nav-tabs li.active>a, 
.row-fluid>.span9>ul.nav.nav-tabs li.active>a, 
body>.container>ul.nav.nav-tabs li.active>a,
body>.dashboard-nav a.active {
    color: #517aa8 !important;
    padding: 12px 12px 10px 12px !important;
    border-bottom: 3px solid #517aa8 !important;
}

/*
.row-fluid>.span8>ul.nav.nav-tabs li>a:hover,
.row-fluid>.span9>ul.nav.nav-tabs li>a:hover,
body>.container>ul.nav.nav-tabs li>a:hover,
body>.dashboard-nav a:hover {
    padding: 12px 11px;
}
*/
.row-fluid>.span8>ul.nav.nav-tabs li>a:hover,
.row-fluid>.span9>ul.nav.nav-tabs li>a:hover,
body>.container>ul.nav.nav-tabs li>a:hover,
body>.dashboard-nav a:hover {
    border: 0px !important;
    background: none;
    padding: 12px 12px 10px 12px !important;
    color : #345e8b !important;
    border-bottom: 3px solid #345e8b !important;
}


@media (max-width: 767px) {
  .row-fluid>.span8>ul.nav.nav-tabs li>a,
  .row-fluid>.span9>ul.nav.nav-tabs li>a,
  body>.container>ul.nav.nav-tabs li>a{
 	    width: 90px;
		padding: 12px 10px;
  }
}

ul.nav.nav-tabs li.pull-right>a{
	    width: 32px !important;
}
  

body > div.dashboard-nav {
	padding-top: 12px !important;
    text-align: left !important;
}
body > div.dashboard-nav .container a{
	padding-bottom: 9px !important;
	margin-top: -12px !important;
    margin-left: 2px !important;
    display: inline-block;
}
  
/* New page */
#gitlab-new form#search, body[id="gitlab-groups/new"] form#search {
	background: transparent;
	padding-bottom: 35px;
	border-bottom: none;
}
body[id="gitlab-groups/new"]>.container {
    background: none repeat scroll 0% 0% #F1F1F1;
    padding: 20px 25px;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin: 1em auto;
}

@media (min-width: 1200px) {
  body[id="gitlab-groups/new"]>.container {
      width: 1120px;
  }
}

/* Sign-In page */
body[id^=gitlab-signin] form#search {
	background: transparent;
	padding-bottom: 35px;
	border-bottom: none;
}

/* Account Page */ 
div.account-image {
	margin-top: 55px;
}
.row-fluid .span8 .pull-right a.btn {
	margin-top: 5px;
}

/* Project page */ 
.container>div.head {
	margin-top: 6px;
    padding-top: 4px;
}
.container>div.head>img {
	margin-top: -4px;
    opacity: 0.97;
	-webkit-filter: brightness(97%);
}
.container>.pull-right>.input-prepend{
	margin-top: 9px;
}

/* Profile */

body[id$=_edit] form#search, body[id$=_ssh] form#search {
	background: transparent;
	padding-bottom: 55px;
	border-bottom: none;
}

/* Admin */

body[id^=gitlab-admin] .span3>div.box {
	margin-top: 65px;
}

body[id^=gitlab-admin] .span9, body[id^=gitlab-admin] form .span6, body[id^=gitlab-admin] form .span5 , body[id^=gitlab-admin] form .span7 {
	margin-top: 65px;
}
body[id^="gitlab-admin/plugins"] .span9 {
	margin-top: 0px;
}

body[id^="gitlab-admin/users"] .span9 {
	margin-top: 6px;
}
body[id^="gitlab-admin/users"] .span9 > .table-bordered{
	margin-top: 38px;
}

/* Wiki */
.container.body>div[style="margin-right: 50px;"] ul.nav.nav-tabs.fill-width.pull-left {
	background: transparent;
}
/* Old maybe for file like readme.md
.container.body>div[style="margin-right: 50px;"] ul.nav.nav-tabs.fill-width.pull-left {
  border: 1px solid #CCC;
  /* margin-bottom: 1em; */
  background: #EEE;
  text-shadow: 0 1px 1px #fff;
  color: #333333;
  /* padding: 10px 15px; */
}
.container.body>div[style="margin-right: 50px;"] ul.nav.nav-tabs.fill-width.pull-left h1.wiki-title {
	margin: 6px 10px;
}
.container.body>div[style="margin-right: 50px;"] ul.nav.nav-tabs.fill-width.pull-left .btn-group {
	margin: 8px 10px;
}
*/